@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.recharts-sector:focus, .recharts-surface:focus {
  outline: none;
}

